/* Заголовок фирмы */
.title {
    text-align: right;
    color: yellow;
}

/* Остальной текст */
body {
    text-align: center;
    color: green;
    font-style: italic;
    font-size: 1.1em;
    background: linear-gradient(to bottom right, #e6f2ff, #ffffff);
}



/* Таблица */
table {
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 2px solid black;
    padding: 8px 15px;
}

th {
    background-color: yellow;
}

/* Заголовок таблицы */
caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Список */
.car-list {
    list-style-type: square;
    list-style-position: inside;
}
